<td>{{priority}}</td>
<td>{{comment}}</td>
<td>{{formatEpoch startTime}}</td>
<td>{{formatEpoch endTime}}</td>
<td>{{pointOfContact}}</td>
<td>
    <a href=""><small>{{#if history}}Remove{{else}}Add{{/if}}</small></a>
</td>
